.principal__root {
  padding: 16px;

  display: flex;
  flex-direction: column;

  gap: 16px;

  position: relative;

  min-height: 100vh;
}

.principal__titulo {
  display: flex;
  align-items: center;

  gap: 8px;
}